<!doctype html>
<html>
  
  {% include head.html %}

  <body id="home">
    
    {% include menu.html %}

    <div id="wrap">
      
      {% include nav.html %}

      <section id="hero" class="light-typo">
        <div id="cover-image" class="image-bg image-bg-courthouse animated fadeIn"></div>
        <div class="container welcome-content">
          <div class="middle-text">
            <h1>YEAR OF DENTON</h1>
            <h2> we love living in Denton and and in 
              <strong>2015</strong> we are doing 
              <b>all things Denton</b>
            </h2>
          </div>
        </div>
      </section>

      {{ content }}         

      {% include footer.html %}

    </div>    

    {% include scripts.html %}
    
  </body>
</html>